/* Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

/* Page */

body {
	margin: 0 auto;
	width: 580px;
	font-family: 'Cinzel', serif;
	margin-bottom: 30px;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

/* Clock */

.clock {
	margin: 0 auto;
}

.clock > div {
	border: 2px solid black;
}

.clock > div > p {
	display: flex;
	justify-content: space-between;
	background: yellow;
	padding: 10px 100px;
}

/* Tabs */

.tab-header {
	display: flex;
	justify-content: flex-start;
}

.tab-header > li {
	border: 1px solid black;
	padding: 0 5px;
	background: lightgreen;
}

.tab-header > li:hover {
	cursor: pointer;
	background-color: black;
  color: white;
  transition: 0.3s;
}

.tab-content {
	background: lightgreen;
	border: 1px solid black;
}

.tab-content article {
	text-align: center;
	margin: 50px 0;
}

/* Weather */

.weather {
	border: 2px solid black;
	background: lightblue;
	text-align: center;
}

.weather p {
	margin: 10px;
}
